.navbar {
  background-color: lightgreen;
  height: 50px;
 
}
.sidebar {
  background-color: lightcoral;
  height: 100vh;
  width: 150px;
}
.content-sidebar {
  display: flex;
}
.content {
  background-color: lightskyblue;
  height: 100vh;
  width: auto;
}